<link rel="stylesheet" type="text/css" href="css/image_slider.css" />

<div id="wowslider-container1">
  <div class="ws_images">
    <ul>
      <li>
        <img src="files/slider/slider1.png" alt="icon-1" title="icon-1" id="wows1_0" />
      </li>
      <li>
        <img src="files/slider/slider2.png" alt="wowslideshow" title="splash_1" id="wows1_1" />
      </li>
      <li>
        <img src="files/slider/slider3.png" alt="icon" title="icon" id="wows1_2" />
      </li>
    </ul>
  </div>
  <div class="ws_bullets">
    <div>
      <a href="#" title="slider1"><span>1</span></a>
      <a href="#" title="slider2"><span>2</span></a>
      <a href="#" title="slider3"><span>3</span></a>
    </div>
  </div>
  <div class="ws_shadow"></div>
</div>